.checkMonth {
  margin-top: 30px;
  text-align: center;
  transform: translateX(-7%);
}
h1 {
  margin-left: 1rem;
  display: inline-block;
}
.pagination {
  margin-top: 1rem;
  display: flex;
}
.checked {
  color: rgb(148, 178, 243);
  border-bottom: 1px solid;
}
.process {
  width: 100%;
  padding: 2rem;
}
.stack-line {
  background: #f2f7ff;
  padding: 1.2rem;
  line-height: 1.2rem;
  margin-bottom: 1rem;
  span {
    font-size: 17px;
    color: rgb(98, 97, 97);
    margin-right: 10px;
  }
  .gk-score {
    margin-bottom: 1rem;
  }
  .gk-rank {
    margin: 1rem 0;
  }
  .item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1rem;
  }
}