.search {
  display: flex;
  justify-content: space-between;
}
.search .left,
.search .right {
  display: flex;
  margin-right: 1rem;
}
.search-item {
  display: flex;
  margin-right: 2rem;
  align-items: center;
}

.search-item .text {
  margin-right: 0.5rem;
  min-width: 5rem;
}
