/* 内减模式 */
* {
  box-sizing: border-box;
}

/* 显示块 */
.show-container {
  background-color: #fff;
  border-radius: 1rem;
  padding: 1.5rem;
}
.title {
  padding-bottom: 1rem;
}
/* 显示的标题 */
.title .text {
  font-size: 22px;
  line-height: 38px;
  font-weight: 700;
}
/* 提示语 */
.prompt {
  color: RGB(168, 177, 186);
  font-size: 12px;
  padding-top: 0.2rem;
}

