.box {
  margin-top: 1.5rem;
}
.condition {
  height: 40%;
  padding: 2rem;
  border: 0.1rem solid rgb(241, 238, 238);
  margin-bottom: 30px;
}
.item {
  position: relative;
  .title {
    position: absolute;
    left: 0;
    color: #000;
    line-height: 1rem;
    .tip {
      vertical-align: middle;
    }
    i {
      vertical-align: middle;
    }
  }
  .condition_list {
    padding-left: 6.5rem;
    margin-top: 0.7rem;
    .tag_item {
      padding: 0 1.2rem 1rem 0;
      white-space: nowrap;
      display: inline-block;
      color: #000;
      line-height: 1.6rem;
      cursor: pointer;
    }
    .tag_item:hover {
      color: #4287ef;
    }
    .select {
      color: #4287ef;
    }
  }
}

.searchBox {
  margin-bottom: 2rem;
  padding: 0.5rem 0;
  display: inline;
}
.search {
  height: 2.5rem;
  width: 6rem;
  background-color: #77adfe;
  color: #fff;
  margin-bottom: 1rem;
}
.stack-line {
  background: #f2f7ff;
  padding: 1.2rem;
  line-height: 1.2rem;
  margin-bottom: 1rem;
  span {
    font-size: 17px;
    color: rgb(98, 97, 97);
    margin-right: 10px;
  }
  .gk-score {
    margin-bottom: 1rem;
  }
  .gk-rank {
    margin: 1rem 0;
  }
  .item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1rem;
  }
}