$small-margin: 1rem;
$big-margin: 3rem;
.box {
  width: 100%;
}
.info-box {
  width: 80%;
  margin: $big-margin 0 $big-margin 0;
  .tag {
    width: 7rem;
    display: inline-block;
    margin-right: $small-margin;
    text-align: right;
  }
}
.card {
  margin: $big-margin 0;
}
.card:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.tip {
  color: gray;
  line-height: 1.5rem;
  margin: $small-margin 0 $small-margin 0;
  padding: 3rem;
  border-top: 0.1rem solid rgba(87, 86, 86, 0.158);
}
.num-tip{
  color: red;
}
.grid-item {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  gap: 1rem 1.2rem;
  grid-auto-flow: row dense;
}

@media screen and (max-width: 1000px) {
  .voluteer-box {
    padding: 0;
  }
}
@media screen and (min-width: 1000px) {
  .voluteer-box {
    padding: 2rem;
  }
}